#citesmenu {
  background:none repeat scroll 0 0 #000099;
  clear:both;
  height:17px;
  padding:0;
  top:74px;
  voice-family:inherit;
}

.headgreen {
  color:#339900;
  font-size:17px;
  font-weight:bold;
  text-align:center;
  margin-top:50px;
  margin-bottom:15px;
}