<br>

<table align="center" id="footer">
<tr height="16">
    <td width="25%"><a href="http://www.cites.org/eng/site_map.shtml" target=_top>Site map</a></td>
    <td width="25%"><a href="http://www.cites.org/eng/resources/site_search.shtml" target=_top>Search the site</a></td>
    <td width="25%"><a href="http://www.cites.org/eng/contact.shtml" target=_top>FAQ & contact us</a></td>
    <td width="25%"><a href="http://www.cites.org/index.html" target=_top>Home</a>

    </td>
  </tr>
</table>
